<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<title>Bookstore - List of Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

</head>

<body>

	<h1>The Bookstore</h1>
	<p>Our book assortment</p>
	    <div sec:authorize="isAuthenticated()">
      Currently logged in as: <b><span sec:authentication="name"></span></b></div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Category</th>

			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.price}+ €"></td>
				<td th:text="${book.category.name}"></td>
				
				<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success"
					th:href="@{/edit/{id}(id=${book.id})}">Edit</a> <a
					class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>


			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-success">Add a book to the assortment</a>

</body>

</html>