<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
</head>
<body id="indexScreen" class="d-flex h-100 text-center text-white bg-dark">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">

		</header>

		<main class="px-3">
			<h1>The bookstore</h1>
			<p class="lead">Hello and welcome to our bookstore management software, tap the button below to sign in and start managing our inventory.</p>
			<p class="lead">
						<form th:action="@{/booklist}" method="get">
			<input type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white"value="Sign in" />
		</form>
			</p>
		</main>

		<footer class="mt-auto text-white-50">
	
						<p class="mt-5 mb-3 text-muted"> 2021</p>

		</footer>
	</div>



</body>


</html>